:root {
  --color-black: #000;
  --color-white: #fff;
  --color-light-white: hsla(0, 0%, 100%, .7);
  --color-off-white: #f5f5f5;
  --color-green: #db4c25;
  --ff-Raleway: "Raleway", sans-serif;
  --f-bold: bold;
  --f-size-09rem: 0.9rem;
  --line-height: 1.5rem;
}

#navbar {


  background-color: black;

}

.nav-item {
  margin: 0px 10px;
}

.logo-img img {
  height: 100%;
  object-fit: cover;
  width: 100%;

}

.D-navbar:hover {
  background: var(--color-green);
  border-radius: 4px;
  color: var(--color-black);
  transition: all .5s ease;
}

.nav-link {
  color: white !important;
}

.navbar-nav .dropdown-menu {
  background-color: #000 !important;
}

.nav-link:hover {
  background: var(--color-green);
  border-radius: 4px;
  color: var(--color-black);
  transition: all .5s ease;
}

.dropdown-item:hover {
  background: var(--color-green) !important;
  border-radius: 4px;
  color: var(--color-black);
  transition: all .5s ease;
}

.navbar-toggler-icon {
  color: #db4c25 !important;
}

.navbar-light .navbar-toggler {
  color: white !important;
  border-color: rgb(185 34 34 / 10%);
  background: white;
}

@media (max-width: 750px) {
  #image {
    display: none;
  }
}